@import url('https://fonts.googleapis.com/css?family=Nunito%20Sans&display=swap');

:root {
    font-family: Nunito Sans, Helvetica Neue, Helvetica, Verdana, sans-serif;
    --dark_blue_logo: #2649EC;
    --light_blue_background: #DEE4FC;
    --gray_content_emphasis: #D7D7D7;
    --gray_content: #EFEFEF;
    --gray_border: #BBBBBB;
    --yellow_highlight: #F9F9BC;
    --black_text: #333333;
    --white_background: #FFFFFF;
}

nav.navbar.navbar-expand-lg {
    background-color: var(--white_background);
    border-bottom: solid 0.1em;
    border-color: var(--gray_border);
}

img.ethicapp-logo {
    width: 6em;
}

header {
    background-image: url('./assets/AdobeStock_292058596-liso.jpg');
    color: white;
}

#home-page-img {
    border-radius: 3px;
    border: 0.1em solid #DBDFEA;
}

#image-inner-border {
    border-radius: 3px;
    border: 0.3em solid #e5e7eb
}

#img-outer-border {
    border-radius: 3px;
    border: 0.1em solid #DBDFEA
}

div.row.white-row {
    background-color: var(--white_background);
}

div.row.gray-row {
    background-color: var(--gray_content);
}

a.characteristics-link {
    text-decoration: none;
    color: var(--black_text);
}

div.characteristics-col {
    transition: background-color 0.3s, transform 0.3s;
}

div.characteristics-col:hover {
    background-color: var(--gray_content_emphasis);
    transform: scale(1.05);
}

img.card-img-top {
    width: 5em;
    fill: var(--dark_blue_logo);
}

.row.even-row {
    background-color: var(--gray_content);
}

.row.odd-row {
    background-color: var(--white_background);
}

img.characteristics-img {
    border-radius: 2%;
    transition: transform 0.3s;
}

img.characteristics-img:hover {
    transform: scale(1.05);
}

img.logo-img-horizontal {
    width: 10em;
}

img.logo-img {
    width: 5em;
}

section.data-section {
    padding: 4% 1%;
    border: solid rgba(128, 128, 128, 0.1);
}

img.footer-icon {
    width: 15%
}

li.list-group-item.list-group-item-action {
    border: 0;
}

.member-description {
    background-color: var(--gray_content);
    padding: 6px;
    border-radius: 6px;
    margin-top: -4px;
}

div.chart-img {
    margin-left: 30;
}

img#team-picture {
    width: 100%;
    height: 100%;
}

img.institution-img {
    height: 8em;
}

div.institution-card {
    border: 0;
}

img.development-logo {
    width: 7em;
    margin-top: 5%;
    fill: var(--dark_blue_logo);
}

div.card.development-card {
    background-color: transparent;
    transition: background-color 0.3s, transform 0.3s;
}

div.development-card:hover {
    background-color: black;
    transform: scale(1.05);
}

#development-section {
    color: white;
    background-image: url('./assets/AdobeStock_292058596-liso-gs.jpg');
}


footer {
    background-color: #1d1d1d;
}

div.orgchart-node {
    font-family: Inter, sans-serif;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: -20px;
    margin-left: -1px;
    border-radius: 10px;
    border: 1px solid #E4E2E9;
}

img.orgchart-img {
    position: absolute;
    margin-top: -50px;
    margin-left: 10px;
    border-radius: 100px;
    width: 5em
}


@media (min-width: 360px) {

    header {
        padding: 3% 1%;
    }

    header p {
        font-size: 1.3em
    }

    .characteristics-text {
        padding-top: 5%;
    }

    img#team-picture {
        padding-left: 2em;
        padding-right: 2em;
    }

    div.orgchart-node {
        width: 200px;
        height: 85px;
    }

    img.development-logo {
        width: 7em;
        margin: 1em 6.5em 0em;
    }

    #footer-uandes-logo {
        width: 15em;
    }

    #footer-uchile-logo {
        width: 6em;
    }

}

/** this is only for the carousel with multiple images to work */

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */

@media (min-width: 768px) {

    header {
        padding-top: 0.5em;
    }

    header p {
        font-size: 1.6em
    }


    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .characteristics-text {
        padding-top: 0%;
    }

    img#team-picture {
        padding-left: 5em;
        padding-right: 5em;
    }

    img.development-logo {
        width: 7em;
        margin: 1em 4em 0em;
    }

    #footer-uandes-logo {
        width: 20em;
        margin-right: 2em;
    }

    #footer-uchile-logo {
        width: 9em;
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

@media(min-width:992px) {

    header {
        padding: 2% 1% 1% 1%;
    }

    header h1 {
        margin-top: 0.5em;
    }

    header p {
        font-size: 1.3em
    }

    .characteristics-text {
        padding-top: 10%;
    }

    img#team-picture {
        padding-left: 7em;
        padding-right: 7em;
    }

    div.orgchart-node {
        width: 225px;
        height: 125px;
        margin-top: -40px;
        margin-left: -40px;
    }

    img.development-logo {
        width: 7em;
        margin: 1em 0em 0em 3em;
    }
}

@media(min-width:1200px) {
    header {
        padding: 2% 1% 1% 1%;
    }

    header h1 {
        margin-top: 1.5em;
    }

    header p {
        font-size: 1.5em
    }

    section.data-section {
        padding: 2% 1% 1% 1%;
        border: solid rgba(128, 128, 128, 0.1);
    }

    div.characteristics-text p {
        font-size: 1.3em;
    }

    img#team-picture {
        padding-left: 7em;
        padding-right: 7em;
    }

    div.orgchart-node {
        width: 180px;
        height: 120px;
        margin-top: -25px;
        margin-left: -1px;
    }
}


@media(min-width:1400px) {

    a.nav-link {
        font-size: 1.5em;
    }

    img.ethicapp-logo {
        width: 9em;
    }

    header {
        padding: 2% 1% 1% 1%;
    }

    header h1 {
        margin-top: 1.5em;
    }

    header p {
        font-size: 1.5em
    }

    section.data-section {
        padding: 2% 1% 1% 1%;
        border: solid rgba(128, 128, 128, 0.1);
    }

    div.characteristics-text {
        padding-top: 5%;
    }

    div.characteristics-text p {
        font-size: 1.5em;
    }

    section#research-section h5 {
        font-size: 2em;
    }

    section#research-section p {
        font-size: 1.5em;
    }

    div.orgchart-node {
        width: 240px;
        height: 120px;
        margin-top: -25px;
        margin-left: -60px;
    }

    img#team-picture {
        padding-left: 9em;
        padding-right: 9em;
    }

    section#development-section p {
        font-size: 1.5em;
    }

    section#development-section h5 {
        font-size: 2em;
    }

    img.development-logo {
        width: 8em;
        margin: 3em
    }

    #footer-uandes-logo {
        width: 30em;
        margin-right: 2em;
    }

    #footer-uchile-logo {
        width: 12em;
    }

}